<mat-toolbar
  class="floating-toolbar"
  [class.retracted]="!isShown"
>
  <button mat-icon-button  (click) = "hideToolBar()">
    <mat-icon>{{ isShown ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomIn()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomOut()">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
  <span style="opacity: 0.4">-----</span>
  <button mat-icon-button (click)="doChangeViewClock()">
    <img src="assets/img/clockV2.svg" width="30px" height="30px" alt="clock">
  </button>
  <button mat-icon-button (click)="doChangeViewScore()">
  <span style="margin-left: 2px"> &#x266C;</span>
  </button>
  <button mat-icon-button (click)="doChangeViewMusaic()">
    <img src="assets/img/musaic.svg" width="40px" height="40px" alt="musaic">
  </button>




</mat-toolbar>
