
.floating-toolbar {
  position: fixed;
  top: 60px;
  right: 0;
  width: 70px;

  flex-direction: column;
  background-color: rgba(200, 200, 227, 0.95);
  z-index: 2000;
  box-shadow: none;
  transition: right 0.3s ease;
  height: calc(100vh - 72px); /* get all window height - top */
  display: flex;
  justify-content: flex-start; /* Align  */
  padding: 1px 0; /* add space top and bottom */
}

.floating-toolbar.retracted {
  right: -70px;
}

.button-toolbar {
  margin-top: 0.1em;
  padding: 0 0;
  width: 30px;
  height: 30px
}
