<div>
  <div #containercanvas class="text-center">

<!--    [ngClass]="ipcs.n == 12 ? 'actionable' : 'no-actionable'"-->
    <canvas #canvas id="canvas"   style="border:1px solid black;"></canvas>
  </div>
  <div [hidden]="ipcs.n == 12" class="extra content text-center aligned">
    <p class="font-italic">Mapping {{ipcs.n}} => {{ipcs.nMapping}}</p>
  </div>
  <div [hidden]="ipcs.n != 12" class="extra content text-center aligned">
      <img
        (click)="m11Click()"
        #m11
        id="m11"
        src="./assets/img/m11.png"
        title="m11"
        class="actionable img-fluid anim-button"
        width="60"
      />
    <img
      (click)="m5Click()"
      #m5
      id="m5"
      src="./assets/img/m5.png"
      title="m5"
      class="actionable img-fluid anim-button"
      width="60"
    />
    <img
      (click)="m7Click()"
      #m7
      id="m7"
      src="./assets/img/m7.png"
      title="m7"
      class="actionable img-fluid anim-button"
      width="60"
    />
  </div>
  <div class="extra content text-center aligned">
      <span [hidden]="ipcs.n != 12" (click)="complement()" class="actionable">
        <img
          src="./assets/img/cplt.png"
          title="complement"
          class="actionable img-fluid anim-button"
          width="40"
        />
        <!-- <font-awesome-icon icon="yin-yang"  size="lg"/> -->
      </span>
    <p class="text-center mt-1">
      IS :
      <span class="analyse-pcs">({{ ipcs.is() }})</span>
    </p>
    <p class="text-center mt-1">
      <span>{{ipcs.getChordName()}}</span>
    </p>

  </div>
  <!-- p>{{pcs}}</p -->
</div>

