<div>
  <div class="row">
    <div [hidden]="pcs.nMapping != 12"
         class="box text-center"
         [style.max-width]="maxWidthParentUiMusaic"
         [style.width]="maxWidthParentUiMusaic"
         [style.min-width]="maxWidthUiMusaic"
    >
      <h5 class="text-center title-detail actionable" style="margin-bottom: 0">
        <button mat-button (click)="changeByMusaic()"  style="height: 24px">
          <span>Musaic n° {{ EightyEight.idNumberOf(pcs) }}</span>
        </button>
      </h5>
      <div [ngClass]="{'inner-box-musaic-orbit':!pcs.isDetached(), 'inner-box-musaic':pcs.isDetached()}">
        <p class="text-small">{{ pcs.orbit.groupAction?.group?.name?.substring(4) }}</p>
        <app-ui-musaic
          [style.max-width]="maxWidthUiMusaic"
          [style.width]="maxWidthUiMusaic"
          [style.min-width]="maxWidthUiMusaic"

        ></app-ui-musaic>

        @if (isForUpdatePcsDto()) {
        <div style="margin-top: 10px">
          <button mat-raised-button
                  (click)="updateToWhiteBoardPage()">
              <span>Update (goto WB page)</span>
          </button>
        </div>
        }
        <div style="margin-top: 10px">
          <button mat-raised-button
                  (click)="pushToWhiteBoardPage()">
              <span>Add to WB page</span>
          </button>
        </div>

      </div>
    </div>
    <div class="box"
         [style.max-width]="maxWidthParentUiMusaic"
         [style.width]="maxWidthParentUiMusaic"
         [style.min-width]="maxWidthUiMusaic"
    >
      <div class="text-center title-detail">
        <button mat-button [disabled]="!canUndo" (click)="doUnDo()"
                style="cursor: pointer;" class="space-right text-small small-icon-button">
          <mat-icon>undo</mat-icon>
          Undo
        </button>
        <span style="color: black">PCS</span>
        <button mat-button [disabled]="!canRedo" (click)="doReDo()"
                style="cursor: pointer;" class="space-left text-small small-icon-button">
          <mat-icon>redo</mat-icon>
          Redo
        </button>
      </div>
      <div [ngStyle]="{'margin': pcs.isDetached() ? '10px 0 15px 0' : '25px 0 15px 0'}">
        <app-ui-clock></app-ui-clock>
      </div>
    </div>

    <div class="box"  style="min-width:330px;" >
      <h5 class="text-center title-detail" style="height: 24px">
        <span>Analysis</span>
      </h5>
      <app-pcs-analysis style="max-width: fit-content"></app-pcs-analysis>
    </div>
  </div>
  <div>
    <app-pcs-list></app-pcs-list>
  </div>
</div>


