<div>
  <div class="row">
    <div [hidden]="pcs.nMapping != 12" class="box text-center"
         style="max-width:250px;">
      <h5  (click)="gotoMusaic()" class="title-detail actionable">
        Musaic n° {{EightyEight.idNumberOf(pcs)}}
      </h5>
      <div class="inner-box-musaic">
        <app-ui-musaic style="width: 200px; height: 340px;"></app-ui-musaic>
      </div>
    </div>
    <div class="box"
         style="max-width:280px; min-width:280px;" >
      <h5 class="text-center title-detail">iPCS</h5>
      <div class="inner-box">
            <app-ui-clock  class="is-clock"></app-ui-clock>
      </div>
    </div>
    <div class="box" style="min-width:350px;">
      <h5 class="text-center title-detail">Analysis</h5>
      <app-pcs-analysis></app-pcs-analysis>
    </div>
  </div>
  <div>
    <app-pcs-list></app-pcs-list>
  </div>
</div>


