h3 {
  text-align: left;
}

h5 {
  font-size: 1.1rem;
}

.title-detail {
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: lightgray;
}

.analyse-pcs {
  text-decoration-color: brown;
  font-size: 1rem;
  background-color: blanchedalmond;
}

.id-pcs {
  text-decoration-color: brown;
  background-color: blanchedalmond;
  font-size: 0.7rem;
}

.clockpcs_ {
  width: 80%;
}

fieldset.representation-border {
  display: inline;
  border: 1px groove #ddd !important;
  padding: 0 1.4em 0.5em 1em !important;
  margin: 0 1em 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

legend.representation-border {
  font-size: 1em !important;
  font-weight: bold !important;
  font-style: italic;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

.is-clock {
  width: 200px;
  height: 200px;
}


.row {
  display: flex;
  flex-direction: row;
}

.box {
  box-shadow: 0px 0px 10px 0px lightgray;
  margin: 3px;
  padding: 5px;
}

.text-center {
  text-align: center;
}

.inner-box {
  padding: 10px;
}

.inner-box-clock {
  padding: 10px;
  margin: 1px;
}

.inner-box-musaic {
  padding: 10px;
  margin-top: 2px;
}

.inner-box-musaic-orbit {
  padding: 10px;
  margin-top: 2px;
  /*padding: 2px;*/
  /*margin-top: 5px;*/
  /*margin-top: 3px;*/
}


.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionable {
  cursor: pointer;
}

.space-right {
  margin-right: 30px;
}

.space-left {
  margin-left: 30px;
}

.text-small {
  font-size: smaller;
}

/*https://stackoverflow.com/questions/64169256/angular-material-mattooltip-break-line-elements*/
/*separator: &#13;&#10;*/
.line-broken-tooltip {
  white-space: pre-line;
}
