.pcs-box {
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

.e-selected-marker {
  cursor: move;
}

.e-selected {
  z-index: 1000;
}

.text-center {
  text-align: center;
}

.example-handle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}

.main-page {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

/*.app-clock {*/
/*  display: inline;*/
/*  flex:1;*/
/*}*/

/*test from https://stackoverflow.com/questions/56560220/click-event-firing-after-dragging*/
.pointer-events-none {
  pointer-events: none;
}


/*https://material.angular.io/cdk/menu/examples*/
.contextual-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  box-shadow: 0 0 12pt rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
}

.contextual-menu .contextual-menu-item {
  width: 100%;
}

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.12);
}

.contextual-menu-item,
.contextual-standalone-item {
  background-color: transparent;
  cursor: pointer;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  border: none;
}

.contextual-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.contextual-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.contextual-standalone-item {
  background-color: rgb(239, 239, 239);
}

.contextual-standalone-item:hover {
  background-color: rgb(208, 208, 208);
}

.contextual-standalone-item[aria-expanded='true'] {
  background-color: rgb(208, 208, 208);
}

.contextual-menu-item[role='menuitemradio'][aria-checked='true'] {
  background-color: rgb(225, 225, 225);
}

.contextual-menu-item[role='menuitemcheckbox'][aria-checked='true'] {
  background-color: rgb(225, 225, 225);
}
