<div class="main-page"
     id="white-board"
     [cdkContextMenuTriggerFor]="menuBackgroundWhiteboard"

>
  <app-rect-selector
    (changeAreaRect)="doCheckPcsComponentsInRectangleSelector($event)"
    (mousedown)="doUpZIndexRectangleSelector()"
    (mouseup)="doDownZIndexRectangleSelector()"
  ></app-rect-selector>

  <!-- careful, pcs has 3 data context : element DOM, object himself and pcsDto -->
  @for (pcsDto of pcsDtoList; track pcsDto; let idx = $index) {
      <app-pcs
        [ngClass]="{
          'pcs-box': true,
          'e-selected-marker': pcsDto.isSelected
        }"
        [pcsDto]="pcsDto"
        [attr.data-index-pcsdtos]=idx
        [style.height.px]="pcsDto.height"
        [style.width.px]="pcsDto.width"
        [style.top.px]="pcsDto.position.y"
        [style.left.px]="pcsDto.position.x"
        [cdkContextMenuTriggerFor]="pcsDto.indexFormDrawer === UIPcsDto.FREE_TEXT ? menuPcsFreeText : menuPcs"
        [cdkContextMenuTriggerData]="{
            name: pcsDto.pcs.getPcsStr(),
            index:idx,
            indexFormDrawer: pcsDto.indexFormDrawer
            }"
        (cdkContextMenuOpened)="doContextMenuOpen()"
        (cdkContextMenuClosed)="doContextMenuClose()"
        (mousedown)="doToggleSelected($event,idx)"
      ></app-pcs>
  }
  <!--  (menuOpened)="contextMenuOpened()"-->
  <ng-template #menuPcs matMenuContent let-index="index" let-name="name" let-indexFormDrawer="indexFormDrawer">
    <div class="contextual-menu" cdkMenu>
      <span class="text-center">Do with {{ name }}</span>
      <hr/>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doPushToPcsPage(index)">Push / Edit on
        PCS page
      </button>

      <button class="contextual-menu-item" cdkMenuItem (click)="doCut(index)">Cut (Ctrl+X)
        <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (click)="doCopy(index)">Copy (Ctrl+C)
        <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (click)="doPaste()">Paste (Ctrl+V)
        <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (click)="doPasteFormat(index)">Paste Format (Ctrl+Shift+V)
        <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
      </button>

      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="menuColor"
              [cdkMenuTriggerData]="{index: index}">
        Color <span>&#10148;</span>
      </button>

      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doSingleToggleSelected(index)">
        <mat-slide-toggle [checked]="isSelected(index)">Selected</mat-slide-toggle>
      </button>

      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="menuDuplicate"
              [cdkMenuTriggerData]="{index: index}">
        Duplicate <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span> <span> &#10148;</span>
      </button>

      <button class="contextual-menu-item" [cdkMenuTriggerData]="{index: index}" cdkMenuItem
              [cdkMenuTriggerFor]="menuPrimes">
        Prime Form <span>&#10148;</span>
      </button>
      <button class="contextual-menu-item"
              [cdkMenuTriggerData]="{
              index: index,
              countMusaicPcs: howManyDistinctMusaicPcs(index),
              countDistinctAffinePcs: howManyDistinctAffinePcs(index)
              }"
              cdkMenuItem
              [cdkMenuTriggerFor]="menuTransf">
        Transf <span>&#10148;</span>
      </button>

      <button class="contextual-menu-item" [cdkMenuTriggerData]="{index: index}" cdkMenuItem
              [cdkMenuTriggerFor]="menuOrbits">
        Orbits <span>&#10148;</span>
      </button>
      <button class="contextual-menu-item" [cdkMenuTriggerData]="{index: index}" cdkMenuItem
              [cdkMenuTriggerFor]="menuSetOps">
        Set Ops <span>&#10148;</span>
      </button>

      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="menuNeighbors">
        Neighbors <span>&#10148;</span>
      </button>
      <hr/>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doZoom(1, index)">
        zoom+ (+)
        <span [hidden]="pcsDtoList[index].indexFormDrawer > 0">&nbsp; (cw={{ sizeCellWidth(index) }})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doZoom(-1, index)">
        zoom- (-)
        <span [hidden]="pcsDtoList[index].indexFormDrawer > 0">&nbsp; (cw={{ sizeCellWidth(index) }})</span>
      </button>
      <button *ngIf="isMusaicFormDrawer(index)" class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doSetRounded(index)">
        <mat-slide-toggle [checked]="isRounded(index)">Rounded</mat-slide-toggle>
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doToggleShowNames(index)">
        <mat-slide-toggle [checked]="isShowName(index)">Show Names</mat-slide-toggle>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doToggleShowPcs(index)">
        <mat-slide-toggle [checked]="isShowPcs(index)">Show [pcs]</mat-slide-toggle>
      </button>

      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="menuAlign">
        Align <span>&#10148;</span>
      </button>

      <hr/>
      <div cdkMenuGroup>
        @for (drawer of UIPcsDto.ALL_DRAWERS.keys(); track drawer; ) {
          <button
            cdkMenuItemRadio
            class="contextual-menu-item"
            [cdkMenuItemChecked]="UIPcsDto.ALL_DRAWERS.get(drawer) === indexFormDrawer"
            (cdkMenuItemTriggered)="updateDrawer(drawer, index)">
            {{ drawer }}
          </button>
        }
      </div>
    </div>
  </ng-template>

  <ng-template #menuAlign>
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doHorizontalAlign()"
              cdkMenuItem [disabled]="numberSelectedComponents < 2">
        <mat-icon> align_vertical_center</mat-icon>
      </button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doVerticalAlign()"
              cdkMenuItem [disabled]="numberSelectedComponents < 2">
        <mat-icon> align_horizontal_center</mat-icon>
      </button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doCircularAlign()"
              cdkMenuItem [disabled]="numberSelectedComponents < 2">
        <mat-icon aria-label="circular">workspaces</mat-icon>
      </button>
    </div>
  </ng-template>


  <ng-template #menuDuplicate let-index="index">
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doDuplicate(index)" cdkMenuItem>Same
        <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
      </button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doDuplicateInAllViews(index)" cdkMenuItem>Same in
        all views
      </button>

    </div>
  </ng-template>

  <ng-template #menuNeighbors>
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" disabled cdkMenuItem>Up semitone</button>
      <button class="contextual-menu-item" disabled cdkMenuItem>Down semitone</button>
      <hr/>
      <button class="contextual-menu-item" disabled cdkMenuItem>Similarity IV</button>
      <button class="contextual-menu-item" disabled cdkMenuItem>Others</button>
    </div>
  </ng-template>

  <ng-template #menuTransf let-index="index"
               let-countMusaicPcs="countMusaicPcs"
               let-countDistinctAffinePcs="countDistinctAffinePcs">

    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doGetTransformedPcs('Affine',index)">Affine pcs (4)
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doGetTransformedPcs('Musaic',index)">Musaic pcs (8)
      </button>
      <hr/>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="[1, 4].includes(countDistinctAffinePcs)"
              (cdkMenuItemTriggered)="doGetTransformedPcs('Affine',index, true)">
        Distinct Affine pcs ({{ countDistinctAffinePcs }})
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="countMusaicPcs === 8"
              (cdkMenuItemTriggered)="doGetTransformedPcs('Musaic',index, true)">
        Distinct Musaic pcs ({{ countMusaicPcs }})
      </button>
    </div>
  </ng-template>

  <ng-template #menuPrimes let-index="index">
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Modal',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Modal',index)">Modal Prime Form
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Cyclic',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Cyclic',index)">Cyclic Prime Form
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Dihedral',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Dihedral',index)">Dihedral Prime Form
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Affine',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Affine',index)">Affine Prime Form
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Musaic',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Musaic',index)">Musaic Prime Form
      </button>
      <hr/>
      <button class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doGetAllPrimForm(index)">All distinct Prime Form
      </button>
    </div>
  </ng-template>


  <ng-template #menuColor let-index="index">
    <div class="contextual-menu" cdkMenu>

      <label for="colorPitchOn" (click)="doGoColorPitchOn()"
             id="idLabelColorPitchOn" class="form-label contextual-menu-item"
             style="width: 82%">
        Pitch ON&nbsp;&nbsp;
        <span [style.background-color]="pcsDtoList[index].colorPitchOn"
              [style.height.px]="12">&nbsp;&nbsp;&nbsp;
        </span>&nbsp;&nbsp;

        <input type="color" class="form-control form-control-color" style="display:none; width: 30px" id="colorPitchOn"
               [value]="pcsDtoList[index].colorPitchOn" title="Choose your color"
               (change)="colorPitchON($event, index)"
        >
      </label>

      <label for="colorPitchOff" (click)="doGoColorPitchOff()"
             id="idLabelColorPitchOff" class="form-label contextual-menu-item"
             style="width: 82%; margin-top: 4px">
        Pitch OFF&nbsp;
        <span [style.background-color]="pcsDtoList[index].colorPitchOff"
              [style.height.px]="12">&nbsp;&nbsp;&nbsp;
        </span>&nbsp;&nbsp;

        <input type="color" class="form-control form-control-color" style="display:none; width: 30px" id="colorPitchOff"
               [value]="pcsDtoList[index].colorPitchOff" title="Choose your color"
               (change)="colorPitchOFF($event, index)"
        >
      </label>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doToggleShowPivot(index)">
        <mat-slide-toggle [checked]="isShowPivot(index)">Show pivot</mat-slide-toggle>
      </button>

      <button class="contextual-menu-item" cdkMenuItem disabled>
        Polygon
      </button>
    </div>
  </ng-template>

  <ng-template #menuBackgroundWhiteboard>
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doUnDo()" [disabled]="!canUndo" cdkMenuItem>Undo
        (ctrl+z)
      </button>

      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doReDo()" [disabled]="!canRedo" cdkMenuItem>Redo
        (ctrl+y)
      </button>
      <hr/>

      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="numberSelectedComponents === 0"
              (cdkMenuItemTriggered)="doCut()">Cut (Ctrl+X)
        <span>&nbsp;({{ numberSelectedComponents }})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="numberSelectedComponents === 0"
              (cdkMenuItemTriggered)="doCopy()">Copy (Ctrl+C)
        <span>&nbsp;({{ numberSelectedComponents }})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="isEmptyClipboard()"
              (cdkMenuItemTriggered)="doPaste()">Paste (Ctrl+V)
      </button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="isEmptyClipboard()"
              (cdkMenuItemTriggered)="doPasteFormat()">Paste Format
      </button>
      <hr/>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doDeselectAll()" cdkMenuItem>Deselect All</button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doSelectAll()" cdkMenuItem>Select All</button>
      <hr/>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doClearContent()" cdkMenuItem>Clear content...
      </button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doOpenDialogSaveToFile()" cdkMenuItem>Save as...
      </button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doOpenLocalFile()" cdkMenuItem>Open file...</button>
    </div>
  </ng-template>
</div>

<ng-template #menuPcsFreeText matMenuContent let-index="index" let-name="name" let-indexFormDrawer="indexFormDrawer">
  <div class="contextual-menu" cdkMenu>
    <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doEditFreeText(index)">
      Edit...
    </button>
    <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doSingleToggleSelected(index)">
      <mat-slide-toggle [checked]="isSelected(index)">Selected</mat-slide-toggle>
    </button>
    <button class="contextual-menu-item" cdkMenuItem (click)="doCut(index)">Cut (Ctrl+X)
      <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
    </button>
    <button class="contextual-menu-item" cdkMenuItem (click)="doCopy(index)">Copy (Ctrl+C)
      <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
    </button>
    <button class="contextual-menu-item" cdkMenuItem (click)="doPaste()">Paste (Ctrl+V)
      <span *ngIf="!isSolo(index)">&nbsp;({{ numberSelectedComponents }})</span>
    </button>
    <hr/>
    <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="menuAlign">
      Align <span>&#10148;</span>
    </button>
    <hr/>
    <div cdkMenuGroup>
      @for (drawer of UIPcsDto.ALL_DRAWERS | keyvalue; track drawer) {
        <button
          cdkMenuItemRadio
          class="contextual-menu-item"
          [cdkMenuItemChecked]="drawer.value === indexFormDrawer"
          (cdkMenuItemTriggered)="updateDrawer(drawer.key, index)">
          {{ drawer.key }}
        </button>
      }
    </div>

  </div>
</ng-template>

<ng-template #menuOrbits matMenuContent let-index="index" let-name="name" >
  <div class="contextual-menu" cdkMenu>
    <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doMakeModeOrbit(index)">
      Mode orbit
    </button>
    <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doMakeCyclicOrbit(index)">
      Cyclic orbit
    </button>
  </div>
</ng-template>

<ng-template #menuSetOps matMenuContent let-index="index" let-name="name" >
  <div class="contextual-menu" cdkMenu>
     <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doMakeComplement(index)">
       Complement
     </button>
    <button
      [disabled]="isSolo(index)"
      class="contextual-menu-item"
      cdkMenuItem (cdkMenuItemTriggered)="doMakeIntersection(index)">Intersection
    </button>
    <button
      [disabled]="isSolo(index)"
      class="contextual-menu-item"
      cdkMenuItem (cdkMenuItemTriggered)="doMakeUnion(index)">Union
    </button>
    <button
      [disabled]="isSolo(index)"
      class="contextual-menu-item"
      cdkMenuItem (cdkMenuItemTriggered)="doMakeSymmetricDifference(index)">Sym Diff
    </button>
  </div>
</ng-template>


{{ ''// see doOpenLocalFile()   }}
<div style="display:none; flex-direction: row;">
  <button (click)="fileInput.click()">Open file</button>
  <input #fileInput type="file" (change)="onLoadLocalFile($event)" accept=".musaicbox" style="display:none"/>
</div>
