<div class="main-page"
     id="white-board"
     [cdkContextMenuTriggerFor]="whiteboard"
>
  <app-rect-selector
    (changeAreaRect)="doCheckPcsComponentsInRectangleSelector($event)"
    (mousedown)="doUpZIndexRectangleSelector()"
    (mouseup)="doDownZIndexRectangleSelector()"
  ></app-rect-selector>

  @for (pcsDto of pcsDtoList; track pcsDto; let idx = $index) {
    <!--component has 3 data context : element DOM, object himself and pcsDto -->
    <app-pcs
      [ngClass]="{
      'pcs-box': true,
      'e-selected-marker': pcsDto.isSelected
      }"
      [attr.data-index-pcsdtos]=idx
      [style.height.px]="pcsDto.height"
      [style.width.px]="pcsDto.width"
      [style.top.px]="pcsDto.position.y"
      [style.left.px]="pcsDto.position.x"
      [cdkContextMenuTriggerFor]="menu"
      [cdkContextMenuTriggerData]="{
            name: pcsDto.pcs.getPcsStr(),
            index:idx,
            indexFormDrawer: pcsDto.indexFormDrawer
            }"
      [pcsDto]="pcsDto"
      (cdkContextMenuOpened)="doContextMenuOpen()"
      (cdkContextMenuClosed)="doContextMenuClose()"
      (mousedown)="doToggleSelected($event,idx)"
    >
    </app-pcs>
  }
<!--  (menuOpened)="contextMenuOpened()"-->
    <ng-template  #menu matMenuContent let-index="index" let-name="name" let-indexFormDrawer="indexFormDrawer">
    <div class="contextual-menu" cdkMenu>
      <span class="text-center">Do with {{ name }}</span>
      <hr/>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doPushToPcsPage(index)">Push / Edit on PCS page</button>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doSingleToggleSelected(index)">
        <mat-slide-toggle [checked]="isSelected(index)">Selected</mat-slide-toggle>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (click)="doDelete(index)">Delete <span *ngIf="!isSolo(index)">&nbsp;({{numberSelectedComponents}})</span></button>
<!--      <button class="contextual-menu-item" cdkMenuItem (click)="doDuplicate(index)">Duplicate <span *ngIf="!isSolo(index)">&nbsp;({{numberSelectedComponents}})</span></button>-->
      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="duplicate"  [cdkMenuTriggerData]="{index: index}">
        Duplicate <span *ngIf="!isSolo(index)">&nbsp;({{numberSelectedComponents}})</span> <span> &#10148;</span>
      </button>
      <button class="contextual-menu-item" [cdkMenuTriggerData]="{index: index}" cdkMenuItem [cdkMenuTriggerFor]="primes">
        Prime Form <span>&#10148;</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="neighbors">
        Neighbors <span>&#10148;</span>
      </button>
      <hr/>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doZoom(1, index)">
        zoom+ (+)
        <span [hidden]="pcsDtoList[index].indexFormDrawer > 0">&nbsp; (cw={{sizeCellWidth(index)}})</span>
      </button>
      <button class="contextual-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doZoom(-1, index)">
        zoom- (-)
        <span [hidden]="pcsDtoList[index].indexFormDrawer > 0">&nbsp; (cw={{sizeCellWidth(index)}})</span>
      </button>
      <button *ngIf="isMusaicFormDrawer(index)" class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doSetRounded(index)">
        <mat-slide-toggle [checked]="isRounded(index)">Rounded</mat-slide-toggle>
      </button>
      <button *ngIf="canShowChordName(index)" class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doToggleShowChordName(index)">
        <mat-slide-toggle [checked]="isShowChordName(index)">ChordName</mat-slide-toggle>
      </button>
      <button class="contextual-menu-item" cdkMenuItem [cdkMenuTriggerFor]="align">
        Align <span>&#10148;</span>
      </button>

      <hr/>
      <div cdkMenuGroup>
        @for (drawer of drawers; track drawer; let idx = $index) {
          <button
            cdkMenuItemRadio
            class="contextual-menu-item"
            [cdkMenuItemChecked]="idx === indexFormDrawer"
            (cdkMenuItemTriggered)="updateDrawer(drawer, index)">
            {{ drawer }}
          </button>
        }
      </div>
    </div>
  </ng-template>

<!--  <ng-template #create let-index="index">-->
<!--    <div class="contextual-menu" cdkMenu>-->
<!--      <button class="contextual-menu-item" disabled cdkMenuItem>ModalPrimeForm</button>-->
<!--      <hr/>-->
<!--      <button class="contextual-menu-item" disabled cdkMenuItem>Pcs CyclicPF in orbit</button>-->
<!--      <button class="contextual-menu-item" disabled cdkMenuItem>Simple Pcs in Cyclic orbit</button>-->
<!--      <button class="contextual-menu-item" disabled cdkMenuItem>Other</button>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--  <ng-template #selection let-index="index">-->
<!--    <div class="contextual-menu"   cdkMenu>-->
<!--      <button class="contextual-menu-item" disabled cdkMenuItem >nop</button>-->
<!--    </div>-->
<!--  </ng-template>-->

  <ng-template #align>
    <div class="contextual-menu"  cdkMenu>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doHorizontalAlign()"
              cdkMenuItem [disabled]="numberSelectedComponents < 2"><mat-icon> align_vertical_center</mat-icon></button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doVerticalAlign()"
              cdkMenuItem [disabled]="numberSelectedComponents < 2" ><mat-icon> align_horizontal_center</mat-icon></button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doCircularAlign()"
              cdkMenuItem [disabled]="numberSelectedComponents < 2"><mat-icon aria-label="circular">workspaces</mat-icon></button>
    </div>
  </ng-template>


  <ng-template #duplicate let-index="index">
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doDuplicate(index)" cdkMenuItem>Same  <span *ngIf="!isSolo(index)">&nbsp;({{numberSelectedComponents}})</span></button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doDuplicateInOthersView(index)"  cdkMenuItem>Same in other views</button>

    </div>
  </ng-template>

  <ng-template #neighbors>
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" disabled cdkMenuItem>Up semitone</button>
      <button class="contextual-menu-item" disabled cdkMenuItem>Down semitone</button>
      <hr/>
      <button class="contextual-menu-item" disabled cdkMenuItem>Similarity IS</button>
      <button class="contextual-menu-item" disabled cdkMenuItem>Similarity IV</button>
      <button class="contextual-menu-item" disabled cdkMenuItem>Others</button>
    </div>
  </ng-template>

  <ng-template #primes let-index="index">
    <div class="contextual-menu" cdkMenu>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Modal',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Modal',index)" >Modal Prime Form</button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Cyclic',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Cyclic',index)">Cyclic Prime Form</button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Dihedral',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Dihedral',index)">Dihedral Prime Form</button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Affine',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Affine',index)">Affine Prime Form</button>
      <button class="contextual-menu-item" cdkMenuItem
              [disabled]="samePcsAs('Musaic',index)"
              (cdkMenuItemTriggered)="doGetPrimForm('Musaic',index)">Musaic Prime Form</button>
     <hr />
      <button class="contextual-menu-item" cdkMenuItem
              (cdkMenuItemTriggered)="doGetAllPrimForm(index)">All distinct Prime Form</button>
    </div>
  </ng-template>

  <ng-template #whiteboard >
    <div class="contextual-menu"   cdkMenu>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doUnDo()" [disabled]="!canUndo" cdkMenuItem >Undo (ctrl+z)</button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doReDo()" [disabled]="!canRedo" cdkMenuItem >Redo (ctrl+y)</button>
      <hr/>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doDeselectAll()" cdkMenuItem >Deselect All</button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doSelectAll()" cdkMenuItem >Select All</button>
      <hr/>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doClearContent()" cdkMenuItem >Clear content...</button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doOpenDialogSaveToFile()" cdkMenuItem >Save as...</button>
      <button class="contextual-menu-item" (cdkMenuItemTriggered)="doOpenLocalFile()" cdkMenuItem >Open file...</button>
    </div>
  </ng-template>
</div>

<div style="display:none; flex-direction: row;">
  <button (click)="fileInput.click()">Open file</button>
  <button type="button"  (click)="doOpenLocalFile()"></button>
  <input #fileInput type="file" (change)="onLoadLocalFile($event)" accept=".musaicbox" style="display:none"/>
</div>


