<h2 class="text-center">88 Musaics</h2>

<div class="row" style="margin: auto; width: 80%">

<div *ngFor="let orbitMusaic of listOrbits; index as index" class="box88" style="width: 60px;">
  <div class="box88-id text-muted p-0">
    {{ index + 1 }}
  </div>
  <div class="box88-body">
    <app-pcs
      [opaque]="musaicDrawGrid"
      [pcsDto]="orbitMusaic.pcsDto"
      [pcColorSet]="orbitMusaic.pcsDto.colorPitchOn"
      (click)="doPushToPcsPage(orbitMusaic.pcsDto.pcs)"
      [cdkContextMenuTriggerFor]="menu"
      [cdkContextMenuTriggerData]="{
            name: 'Musaic N°' + (index+1),
            index:index,
            pcs:orbitMusaic.pcsDto.pcs
            }"
      style="cursor: pointer"
    >
    </app-pcs>
  </div>
  <div class="box88-footer">
    #{{ orbitMusaic.cardinal }}
  </div>
</div>
</div>

<div class="text-center" style="margin-top: 20px">
  <h3> Your selection : @for (op of currentSelectedOp; track op) {
    {{ op }}
  } -> {{ nbMusaicsMatch ? nbMusaicsMatch : 'All' }} match</h3>

  <h5>Select operations to highlight stabilized musaics</h5>
  <div class="button-row">
    <input type="checkbox" class="operation" id="m1" checked disabled/> <label for="m1">M1&nbsp;&nbsp;</label>
    @for (op of EightyEight.ORDERED_OPERATIONS_NAMES; track op; let index = $index) {
      @if (index > 0) {
        <input type="checkbox" class="operation" id="{{op}}" (click)="changeOp(op)" [checked]="isChecked(op)"/>
        <label for="{{op}}">{{ op }}&nbsp;&nbsp;</label>
      }
    }
  </div>
</div>

<ng-template  #menu matMenuContent let-index="index" let-name="name" let-pcs="pcs" >
  <div class="example-menu" cdkMenu>
    <span>Do with {{ name }}</span>
    <hr/>
    <button class="example-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doPushToPcsPage(pcs)">Push to PCS page</button>
    <button class="example-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doPushToWhiteboardPage(index)">Push to Whiteboard page</button>
    <button class="example-menu-item" cdkMenuItem (cdkMenuItemTriggered)="doPushSelectionToWhiteboardPage()">Push *selection* to Whiteboard page</button>
  </div>
</ng-template>
