<h2 class="text-center">88 Musaics</h2>
<div class="row" style="margin: auto; width: 80%">
  <!--  @for (orbit of musaicOrbits; track orbit.pcs.id; let index = $index) {-->
  <div *ngFor="let orbit of musaicOrbits; index as index" class="box88" style="width: 60px;">
    <div class="box88-id text-muted p-0">
      {{ index + 1 }}
    </div>
    <div class="box88-body">
      <app-musaic
        [w]="60"
        [ipcs]="orbit.pcs"
        [opaque]="musaicDrawGrid"
        [pcColorSet]="orbit.color"
        (click)="doPushToHomePage(orbit.pcs)"
        style="cursor: pointer"
      >
      </app-musaic>
    </div>
    <div class="box88-footer">
      #{{ orbit.cardinal }}
    </div>
  </div>
  <!--  }-->
</div>

<div class="text-center" style="margin-top: 20px">
  <h3> Your selection : @for (op of currentSelectedOp; track op) {
    {{ op }}
  } -> {{ nbMusaicsMatch ? nbMusaicsMatch : 'All' }} match</h3>

  <h5>Select operations to highlight stabilized musaics</h5>
  <div class="button-row">
    <input type="checkbox" class="operation" id="m1" checked disabled/> <label for="m1">M1&nbsp;&nbsp;</label>
    @for (op of EightyEight.ORDERED_OPERATIONS_NAMES; track op; let index = $index) {
      @if (index > 0) {
        <input type="checkbox" class="operation" id="{{op}}" (click)="changeOp(op)" [checked]="isChecked(op)"/>
        <label for="{{op}}">{{ op }}&nbsp;&nbsp;</label>
      }
    }
  </div>
</div>
