.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.toolbar {
  height:50px;
  background-color: white;
}

.biggerbutton {
  width:  100px!important;
  height: 50px!important;
  font-size: 10px!important;
}

.toolBarMainHoriz, .drawerButton {
  padding: 4px;

}

.container {
  height: 100%;
  /*width: 100%;*/
}

.drawer {
  background-color: white;
  /*background-color: #BF55EC;*/
  width: 150px;
}

.burger {
  color: black;
}

@media all and (max-width: 500px) {

  .toolBarMainHoriz {
    display: none;
  }

  .toolbar {
    height:5%;
  }

  .container {
    height: 95%;
  }

  .analysis-panel {

  }

}


@media all and (max-width: 500px) {
  .analysis-panel {
     max-width: fit-content;
  }

}

.vertical-align {
  vertical-align: middle;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.m-3 {
  margin: 10px;
  padding: 10px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.body {
  margin-top: 5px;
  background-color: white;
}
