@if (pcsDto.indexFormDrawer === UIPcsDto.FREE_TEXT) {
  {{ ''// no canvas  }}
  <div [ngClass]="{'e-selected': pcsDto.isSelected}">
    <p
      [style.width]="pcsDto.width"
      [style.font-size]="pcsDto.freeText.fontSize"
      style="margin: 0; padding: 0; word-wrap:break-word; line-height: 1.2em;  ">{{ pcsDto.freeText.text }}</p>
  </div>
} @else if (pcsDto.indexFormDrawer === UIPcsDto.SCORE) {
  <div #canvas id="paper-{{randomId}}"
       [matTooltipDisabled]="pcsDto.showPcs"
       matTooltip="pcs : {{pcsDto.pcs.getPcsStr()}}"
       [ngClass]="{'e-selected': pcsDto.isSelected}">
  </div>
} @else if (pcsDto.indexFormDrawer === UIPcsDto.MUSAIC) {
  <canvas #canvas
          [@musaicTransformation]='pcsDto.currentCSSAnimationTransformationState'
          [matTooltipDisabled]="pcsDto.showPcs"
          matTooltip="pcs : {{pcsDto.pcs.getPcsStr()}}"
          [ngClass]="{
        'musaic': pcsDto.indexFormDrawer === UIPcsDto.MUSAIC && !pcsDto.uiMusaic.rounded,
        'e-selected': pcsDto.isSelected
       }">

  </canvas>
} @else {
  <canvas #canvas
          [matTooltipDisabled]="pcsDto.showPcs"
          matTooltip="pcs : {{pcsDto.pcs.getPcsStr()}}"
          [ngClass]="{
        'musaic': pcsDto.indexFormDrawer === UIPcsDto.MUSAIC,
        'rounded-musaic': rounded,
        'e-selected': pcsDto.isSelected
       }">
  </canvas>
}
@if ((pcsDto.showName || pcsDto.showPcs)
&& pcsDto.indexFormDrawer !== UIPcsDto.FREE_TEXT
&& pcsDto.indexFormDrawer !== UIPcsDto.OCTOTROPE) {
  <p class="text-center"
     [style.width]="pcsDto.width"
     [style.font-size]="pcsDto.width <= 39 ? '50%' :  pcsDto.width < 100 ? '66%' : pcsDto.width < 143 ? '80%' : '100%'"
     style="margin: 0; padding: 0; word-wrap:break-word; line-height: 1.2em;"
     [innerHTML]="pcsDto.showPcs ? getPcsName() : ([3, 4].includes(pcsDto.pcs.cardinal))
       ? pcsDto.pcs.getChordName() || pcsDto.pcs.getFirstNameDetail()
       : pcsDto.pcs.getFirstNameDetail()"
  >
  </p>
}

