
.musaic {
  overflow:hidden;
  outline: 1px solid black;
}

.rounded-musaic {
  -webkit-border-radius:50%;
  -moz-border-radius: 50%;
  /*border-radius:50px;*/
  /*outline: 1px solid back;*/
}

.e-selected {
  outline: 1px solid blue;
}

.e-selected-rounded-musaic{
  outline: 1px solid blue;
}

.roundedImageBorder{
  overflow:hidden;
  /*clip-path: circle();*/
  -webkit-border-radius:50%;
  -moz-border-radius: 50%;
   /*border-radius:50px;*/
}
.roundedImageShadow{
  -moz-box-shadow: 0px 0px 2px #343434;
  -webkit-box-shadow: 0px 0px 2px #343434;
  -o-box-shadow: 0px 0px 2px #343434;
  box-shadow: 0px 0px 2px #343434;
}

.roundedImageBorder{
  outline: 1px solid black; /*#000000;*/ /*6699;*/
}
