<div class="is-clock" #containercanvas>
  <div #containercanvas id="containercanvas">
    <canvas #canvas></canvas>
    IV : <span class="analyse-pcs"> &lt;{{ ipcs.iv() }}&gt;</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm text-left">
        <app-music-notation [ipcs]="ipcs"  style="height: 210px;" >
        </app-music-notation>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-left">
        <app-module-translation-control
          (changePcsEvent)="changePcsFromModuleTranslationControl($event)">
        </app-module-translation-control>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-left">
        <span [hidden]="ipcs.n != 12" class="m-1">
          <button (click)="autoMap()">Map</button>
        </span>
        <span [hidden]="ipcs.n == 12" class="m-1">
          <button (click)="unMap()">UnMap</button>
        </span>
        <span class="m-1">
          <button (click)="addToList()">Add pcs</button>
        </span>
        <span class="m-1" [hidden]="ipcs.cardinal < 5">
          <button (click)="thirdChordList()">3-chords</button>
        </span>
        <span class="m-1" [hidden]="ipcs.cardinal < 6">
          <button (click)="sevenChordList()">4-chords</button>
        </span>
      </div>
    </div>
  </div>
</div>
