<div class="is-clock" #containercanvas>
  <div #containercanvas id="containercanvas">
    <canvas #canvas></canvas>
    IS : <span class="analyse-pcs"> ({{ pcs.is() }})</span>

    @if ([3, 4].includes(pcs.cardinal)) {
      <p class="chord-name-def" style="margin-top: 10px; padding: 0">{{ pcs.getChordName() }}</p>
    }
    <p></p>
    @if (getLinksNameDefs().length > 0) {
      <p *ngFor="let linkNameDef of getLinksNameDefs(); index as i; " class="chord-name-def" style="margin: 0; padding: 0">
        <!--        <i class="bi bi-wikipedia"></i>-->
        <a  *ngIf="linkNameDef.type=='ianring'" href="{{linkNameDef.url}}" target="_blank"> {{ linkNameDef.name }} <img src="assets/img/ianring-logo.png" width="15px"  style="margin-top: 10px"></a>
        <a  *ngIf="linkNameDef.type=='wikipedia'" href="{{linkNameDef.url}}" target="_blank"> {{ linkNameDef.name }} <i class="bi bi-wikipedia"></i></a>
      </p>
    } @else if (pcsFirstScaleNameOrDerived.name) {
      <p class="chord-name-def" style="margin: 0; padding: 0">
<!--        no elvis op...-->
        <a href="{{pcsFirstScaleNameOrDerived.url ? pcsFirstScaleNameOrDerived.url : '#'}}"
           target="_blank">
          {{ pcsFirstScaleNameOrDerived.name }}
        </a>
      </p>
    }
  </div>
  <div [hidden]="pcs.n != 12" class="score-center">
    <app-score-notation [pcs]="pcs" style="height: 150px;">
    </app-score-notation>
  </div>
  <div>
    <app-module-translation-control
      (changePcsEvent)="changePcsFromModuleTranslationControl($event)">
    </app-module-translation-control>
  </div>
  <hr>

  <div class="panel-action">
    @if (pcs.n == 12) {
      <span (click)="autoMap()" style="cursor: pointer">
        <span>
          <i class="bi bi-circle-square"></i> Map
        </span>
      </span>
    } @else {
      @if (pcs.nMapping == 12) {
        <span (click)="unMap()" style="cursor: pointer">
           <span>
              <i class="bi bi-circle"></i> UnMap
           </span>
        </span>
      }
    }
    <span (click)="addToList()" style="cursor: pointer">
       <i class="bi bi-plus-circle"></i> Add pcs
    </span>
  </div>
  <div class="panel-action">
    <span [hidden]="pcs.cardinal < 5"
          (click)="threeChordList()" style="cursor: pointer">
           <i class="bi bi-chevron-double-down">3-chords</i>
    </span>
    <span [hidden]="pcs.cardinal < 5"
          (click)="fourChordList()" style="cursor: pointer">
           <i class="bi bi-chevron-double-down">4-chords</i>
    </span>
  </div>
</div>
