
/*https://stackoverflow.com/questions/1152203/centering-a-canvas*/

#containercanvas {
  width: 100%;
  text-align:center;
  margin: auto;
}

canvas {
  display: inline;
}

.analyse-pcs {
  text-decoration-color: brown;
  font-size: 1rem;
  background-color: blanchedalmond;
}

.panel-action {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.score-center {
  margin-left: 10px;
}
