<div class="is-clock" #containercanvas>
  <div #containercanvas id="containercanvas">
    <canvas #canvas></canvas>
    IV : <span class="analyse-pcs"> &lt;{{ pcs.iv() }}&gt;</span>

    @if ([3, 4].includes(pcs.cardinal)) {
      <p class="chord-name">{{ pcs.getChordName() }}</p>
    } @else if (Scales2048Name.getScaleName(pcs)){
      <p  class="chord-name"
          matTooltip= "{{ Scales2048Name.getScaleName(pcs) //all names }}">
        {{ Scales2048Name.getScaleName(pcs).split(",")[0] }}
      </p>
    }
  </div>
  <div class="score-center">
    <app-music-notation [pcs]="pcs" style="height: 150px;">
    </app-music-notation>
  </div>
  <div>
    <app-module-translation-control
      (changePcsEvent)="changePcsFromModuleTranslationControl($event)">
    </app-module-translation-control>
  </div>
  <hr>

  <div class="panel-action">
    @if (pcs.n == 12) {
      <span (click)="autoMap()" style="cursor: pointer">
        <span>
          <i class="bi bi-circle-square"></i>Map
        </span>
      </span>
    } @else {
      @if (pcs.nMapping == 12) {
        <span (click)="unMap()" style="cursor: pointer">
           <span>
              <i class="bi bi-circle"></i>UnMap
           </span>
        </span>
      }
    }
    <span (click)="addToList()" style="cursor: pointer">
       <i class="bi bi-plus-circle"></i> Add pcs
    </span>
  </div>
  <div class="panel-action">
    <span [hidden]="pcs.cardinal < 5"
          (click)="threeChordList()" style="cursor: pointer">
           <i class="bi bi-chevron-double-down">3-chords</i>
    </span>
    <span [hidden]="pcs.cardinal < 5"
          (click)="fourChordList()" style="cursor: pointer">
           <i class="bi bi-chevron-double-down">4-chords</i>
    </span>
  </div>
</div>
