<fieldset class="representation-border p-3 text-center">
  <legend class="representation-border float-none w-auto px-3">

    <span style="display: inline-flex; align-items: center;">
       @if (orbitsGroup ? orbitsGroup.orbits[0].getPcsMin().n === 12 : false) {
         @if (isMetaStabilizer(orbitsGroup?.groupingCriterion)) {
           <app-octotrope [w]="50" [opStabilizers]="split(orbitsGroup!.groupingCriterion)"></app-octotrope>
         }
       }
      <span style="padding-left: 8px">

    {{ orbitsGroup?.groupingCriterion }} ({{ orbitsGroup?.orbits?.length ?? 0 }})&nbsp;
        @if (orbitsGroup ? orbitsGroup.orbits[0].getPcsMin().n === 12 : false) {
          <button type="button" (click)="changeViewIPcs()" class="toggle" aria-pressed="false">
        {{ textButtonViewMusaicClock }}
      </button>
        }
      </span>
    </span>
  </legend>
  <div class="row">
    @for (orbit of orbitsGroup?.orbits; track orbit.getPcsMin().id) {
      @if (viewMusaic) {
        <div class="boxPcs" style="width: 60px; "
             matTooltip="Musaic reference N° {{EightyEight.idNumberOf(orbit.getPcsMin())}}">
          <app-musaic
            [w]="52"
            [ipcs]="orbit.getPcsMin()"
            [opaque]="false"
            [pcColorSet]="colorOrbit(orbit)"
            (click)="doPushToPcsPageIf_N_is12(orbit.getPcsMin())"
            [style.cursor]="orbit.groupAction!.n === 12 ? 'pointer' : 'default'"
          ></app-musaic>
          <span class="text-center label-ipcs">#{{ orbit.ipcsset.length }}</span>
        </div>
      } @else {
        <div class="boxPcs"
             matTooltip="{{orbit.getPcsMin().n == 12 ? 'Musaic reference N° ' + EightyEight.idNumberOf(orbit.getPcsMin()): ''}}">
          <app-clock
            [w]="60"
            [ipcs]="orbit.getPcsMin()"
            [pcColorSet]="colorOrbit(orbit)"
            [drawPivot]="false"
            class="clock-pcs"
            (click)="doPushToPcsPageIf_N_is12(orbit.getPcsMin())"
            [style.cursor]="orbit.groupAction!.n === 12 ? 'pointer' : 'default'"
          ></app-clock>
          <span class="text-center label-ipcs">#{{ orbit.ipcsset.length }}</span>
        </div>
      }
    }
  </div>
</fieldset>
