<fieldset class="representation-border p-3 text-center">
  <legend class="representation-border float-none w-auto px-3">
    {{ orbitsGroup?.groupingCriterion }} ({{ orbitsGroup?.orbits?.length ?? 0 }})&nbsp;
    @if (orbitsGroup ? orbitsGroup.orbits[0].getPcsMin().n === 12 : false) {
      <button type="button" (click)="changeViewIPcs()" class="toggle" aria-pressed="false">
        {{ textButtonViewMusaicClock }}
      </button>
    }
  </legend>
<!--  <div contextmenu>-->
<!--    Clic droit pour afficher le menu-->
<!--  </div>-->

<!--  <ng-template #contextMenu>-->
<!--    <ul>-->
<!--      <li (click)="doSomething()">Option 1</li>-->
<!--      <li (click)="doSomethingElse()">Option 2</li>-->
<!--    </ul>-->
<!--  </ng-template>-->

<!--  -->
<!--  <div *ngIf="contextmenu">-->
<!--    <app-context-menu-orbit-group-explorer [x]="contextmenuX" [y]="contextmenuY"></app-context-menu-orbit-group-explorer>-->
<!--  </div>-->

  @for (orbit of orbitsGroup?.orbits; track orbit.getPcsMin().id) {
    @if (viewMusaic) {
      <div class="d-inline-block text-center clock-pcs">
        <!--      {{orbit.getPcsMin().getMappedPcsStr()}}-->
<!--        TODO manque de definition, voir si scale ne serait pas inférieure à 1 -->
        <app-musaic
          [ipcs]="orbit.getPcsMin()"
          class="clock-pcs ms-1 p-1">
        </app-musaic>
        <span class="text-center label-ipcs">#{{ orbit.ipcsset.length }}</span>
      </div>
    } @else {
      <div class="d-inline-block text-center clock-pcs m-1" >
        <app-clock
          [ipcs]="orbit.getPcsMin()"
          [pcColorSet]="pcColorSet"
          [pivotColor]="pivotColor"
          class="clock-pcs ms-1 p-1"
        >
        </app-clock>
        <span class="text-center label-ipcs">#{{ orbit.ipcsset.length }}</span>
<!--        TODO ? : to show if this div is clicked (toggle)-->
        <span>
          <i (click)="doPushToHomePage(orbit.getPcsMin())" class="bi bi-eye p-1" style="cursor: pointer">
          </i>
        </span>
      </div>
    }
  }
</fieldset>
