<fieldset class="representation-border p-3 text-center">
  <legend class="representation-border float-none w-auto px-3">
    {{ orbitsGroup?.groupingCriterion }} ({{ orbitsGroup?.orbits?.length ?? 0 }})&nbsp;
    @if (orbitsGroup ? orbitsGroup.orbits[0].getPcsMin().n === 12 : false) {
      <button type="button" (click)="changeViewIPcs()" class="toggle" aria-pressed="false">
        {{ textButtonViewMusaicClock }}
      </button>
    }
  </legend>
  <div class="row">
  @for (orbit of orbitsGroup?.orbits; track orbit.getPcsMin().id) {
    @if (viewMusaic) {
      <div class="boxPcs">
        <!--      {{orbit.getPcsMin().getMappedPcsStr()}}-->
        <app-musaic
          [ipcs]="orbit.getPcsMin()"
          [opaque]="false"
          class="ms-1">
        </app-musaic>
        <span class="text-center label-ipcs">#{{ orbit.ipcsset.length }}</span>
        <span>
          <i (click)="doPushToHomePage(orbit.getPcsMin())" class="bi bi-eye p-1" style="cursor: pointer">
          </i>
        </span>
      </div>
    } @else {
      <div class="boxPcs">
        <app-clock
          [ipcs]="orbit.getPcsMin()"
          [pcColorSet]="pcColorSet"
          [pivotColor]="pivotColor"
          class="clock-pcs ms-1 p-1"
        >
        </app-clock>
        <span class="text-center label-ipcs">#{{ orbit.ipcsset.length }}</span>
<!--        TODO ? : to show only if this div is clicked (toggle)-->
        <span>
          <i (click)="doPushToHomePage(orbit.getPcsMin())" class="bi bi-eye p-1" style="cursor: pointer">
          </i>
        </span>
      </div>
    }
  }
  </div>
</fieldset>
