
<div class="panel-navigate">
    <span>
      <img (click)="onChangeDegree('-1')"
        src="./assets/img/t-.png"
        title="modulate"
        alt="modulate"
        class="actionable rotate-left img-fluid"
        width="33"
        height="41">
      <span>&nbsp;M&nbsp;</span>
      <span>
        <img (click)="onChangeDegree('+1')"
          src="./assets/img/t+.png"
          title="modulate"
          alt="modulate"
          class="actionable rotate-right img-fluid"
          width="33"
          height="41"
        >
        </span>
    </span>

  <span>
      <img (click)="onTranslate('-1')"
        src="./assets/img/t-.png"
        title="transpose"
        alt="transpose"
        class="actionable rotate-left img-fluid"
        width="33"
        height="41">
      <span>&nbsp;T&nbsp;</span>
    <!--      <span v-on:click="translation(1, $event)">-->
      <span>
        <img (click)="onTranslate('+1')"
          src="./assets/img/t+.png"
          title="transpose"
          alt="transpose"
          class="actionable rotate-right img-fluid"
          width="33"
          height="41"
        >
      </span>
    </span>
</div>
