<div>
  <div class="row mr-1">
    <div class="p-2 shadow m-1 mb-5 bg-white rounded col"
         style="max-width:260px;">
      <h5 class="text-center title-detail pb-2">Musaic</h5>
      <div class="container">
        <app-ui-musaic style="width: 200px; height: 340px;"></app-ui-musaic>
      </div>
    </div>
    <div class="p-2 m-1 shadow mb-5 bg-white rounded col"
         style="max-width:280px; min-width:280px;" >
      <h5 class="text-center title-detail pb-2">iPCS</h5>
      <div class="container">
        <div class="row">
          <div class="col-sm text-left">
            <app-ui-clock [pcs]="pcs" class="is-clock"></app-ui-clock>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 m-1 shadow mb-5 bg-white rounded col" style="min-width:350px;">
      <h5 class="text-center title-detail pb-2">Analysis</h5>
      <app-pcs-analysis [pcs]="pcs"></app-pcs-analysis>
    </div>
  </div>
  <div class="row mr-1">
    <app-pcs-list></app-pcs-list>
  </div>
</div>


