<p>home works!</p>
<div
  class="p-2 ml-2 shadow mb-5 bg-white rounded col"

>
  <h5 class="text-center title-detail pb-2">iPCS</h5>
  <div class="container"  style="max-width:240px;min-width:240px;">
    <div class="row is-clock ">
      <div class="col-sm text-left">
        <app-uiclock class="is-clock"></app-uiclock>
<!--        <ISClock color="white" class="is-clock ml-3"></ISClock>-->
<!--        <MusicNotation :_ipcs="ipcs" class="ml-2"/>-->
<!--        <RotateIPcs/>-->
      </div>
    </div>
  </div>
</div>


