<div class_="container bg-white">
  <div class="row mr-1">

    <div class="p-2 ml-2 shadow mb-5 bg-white rounded col"
         style="max-width:280px; min-width:280px;" >
      <h5 class="text-center title-detail pb-2">iPCS</h5>
      <div class="container">
        <div class="row">
          <div class="col-sm text-left">
            <app-uiclock class="is-clock"></app-uiclock>
            <!--        <ISClock color="white" class="is-clock ml-3"></ISClock>-->
            <!--        <MusicNotation :_ipcs="ipcs" class="ml-2"/>-->
            <!--        <RotateIPcs/>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


