<div class="group-action">
  <div class="row">
    <div>
      <h2>Cyclic group ℤ<sub>n</sub> & group action explorer</h2>
    </div>
    @if (waitingCompute) {
      <div class="waiting">
        <h2 class="waiting-message">Waiting...</h2>
        <mat-spinner [diameter]="15" [color]="'warn'" class="spinner-align"></mat-spinner>
      </div>
    }
  </div>
  <div class="row">
    <div>
      <fieldset class="representation-border">
        <legend class="representation-border">Cyclic group order</legend>
        <div class="input-group group-dim ">
          <div class="input-group-prepend " style="display: inline">
            <label class="input-group-text " for="inputGroupSelect01" style="height: 80px"> N : </label>
          </div>
          <select id="inputGroupSelect01" (change)="onChangeN($event)">
            @for (index of [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]; track index) {
              @if (n == index) {
                <option value="{{index}}" selected>
                  {{ index }}
                </option>
              } @else {
                <option value="{{index}}">
                  {{ index }}
                </option>
              }

            }
          </select>
        </div>
      </fieldset>
    </div>
    <div>
      <fieldset class="representation-border">
        <legend class="representation-border float-none w-auto px-3">Generator group operations</legend>
        <div class="row">
          <div>
            <form>
              <fieldset class="representation-border p-3 ">
                <legend class="representation-border float-none w-auto px-3">Multiplication</legend>
                <div class="row">
                  @for (generator of primesWithNOperations; track generator; let index = $index) {
                    <div class="form-check">
                      @if (generator == 'M1') {
                        <input class="form-check-input" type="checkbox" checked disabled>
                      } @else {
                        <input  class="form-check-input" type="checkbox" [checked]="opMultChoices.includes(generator)"
                               (change)="changeOpMultChoices(generator, $event)">
                      }
                      <label class="form-check-label">{{ generator }}</label>
                    </div>
                  }
                </div>
              </fieldset>
            </form>
          </div>

          <div>
            <fieldset class="representation-border p-3">
              <legend class="representation-border float-none w-auto px-3">Translation
                <span data-bs-toggle="tooltip" data-bs-placement="right"
                      title="T1 => Equivalent under translation/transposition" style="cursor: help">
              <i class="bi bi-info-circle"></i>
            </span>
              </legend>
              <div class="row">
                @for (t of [0,1]; track t; let index = $index) {
                  <div class="form-check form-check-inline">
                    @if (t === 0) {
                      <input class="form-check-input" type="checkbox" value="{{t}}" disabled checked>
                    } @else {
                      <input class="form-check-input" type="checkbox" value="{{t}}"
                             [checked]="opTransChoices.includes(t)"
                             (change)="changeOpTranslationChoices(t, $event)">
                    }
                    <label class="form-check-label">T{{ t }}</label>
                  </div>
                }
              </div>
            </fieldset>
          </div>
        </div>
        <div class="pl-2">
        </div>

      </fieldset>
    </div>

  </div>
  <div class="p-2">
    <fieldset class="representation-border p-3">
      <legend class="representation-border float-none w-auto px-3">Group operations ({{ groupOperations.length }})
      </legend>
      <div class="row">
        @for (operation of groupOperations; track operation; let index = $index) {
          <div class="form-check">
            <div class="form-check operation">
              <label>{{ operation }}</label>
            </div>
          </div>
        }
      </div>
    </fieldset>
  </div>
  <div class="p-2" [hidden]="preReactOrbits.length > 1000">
    <button mat-raised-button color="primary" class="m4" (click)="showOrbits('Stabilizer')">
      Show orbits ({{ preReactOrbits.length }}) grouped by Stabilizers Signature
      @if (groupAction) {
        <span>
          ({{ groupAction.orbitsSortedByStabilizers.length }})
        </span>
      }
    </button>
    <button mat-raised-button color="primary" class="m4"
            (click)="showOrbits('MotifStabilizer')"
           >
<!--      [disabled]="!opTranspositionChoicesHasAtLeastOneValuePrimeWithN()"-->
      Show orbits ({{ preReactOrbits.length }}) grouped by Meta-Stabilizer (Motif)
      @if (groupAction) {
        <span>
          ({{ groupAction.orbitsSortedByMotifStabilizers.length }})
        </span>
      }
    </button>
    <button mat-raised-button color="primary" class="m4" (click)="showOrbits('Cardinal')">
      Show orbits ({{ preReactOrbits.length }}) grouped by Cardinal
    </button>
  </div>

  <div class="p-2">
    @if (preReactOrbits.length <= 1000 && orbitsPartitions.length > 0) {
      <fieldset class="representation-border p-3">
        <legend class="representation-border float-none w-auto px-3">A set of orbits
          @if (groupAction) {
            <span> ({{ preReactOrbits.length }}
              ) partitioned according to equivalence class : "has same {{ criteriaEquiv }}
              " ({{ orbitsPartitions.length }}
              )  </span>
          } @else {
            <span>(no computed)</span>
          }
        </legend>

        @for (orbitsList of orbitsPartitions; track orbitsList.hashcode; ) {
          <app-orbit [orbitsGroup]="orbitsList"></app-orbit>
        }

      </fieldset>
    }
    <div [hidden]="preReactOrbits.length <= 1000" class="alert alert-warning" role="alert"
         style="width: fit-content">
      Too many orbits ({{ preReactOrbits.length }}). Please select more operations !
    </div>


    <div class="p-2">
      <fieldset class="representation-border p-3 ">
        <legend class="representation-border float-none w-auto px-3">Debug</legend>
        <p>N : {{ n }}</p>
        <div><span>ops Multiplication selected : [@for (op of opMultChoices; track op; let index = $index) {
          <span [hidden]="index===0">,</span> <span>{{ op }}</span>
        }]</span></div>
        <div><span>ops Multiplication in group : [{{ groupAction?.operationsNameWithoutTxStr }}]</span></div>

        <div><span>ops Translation selected : [@for (op of opTransChoices; track op; let index = $index) {
          <span [hidden]="index===0">, </span> <span>{{ op }}</span>
        }]</span></div>
        @if (groupAction != null) {
          <div>
            <span>cardinal powerset : {{ groupAction.powerset.size }}</span>
          </div>
        }
        <div><span>nb Orbits : {{ preReactOrbits.length }} </span></div>
        @if (groupAction != null) {
          <div>
            <span>nb Stabilizers classes : ({{ groupAction.orbitsSortedByStabilizers.length }})</span>
          </div>
        }
        @if (groupAction != null) {
          <div>
            <span>nb Meta Stabilize : ({{ groupAction.orbitsSortedByMotifStabilizers.length }})</span>
          </div>
        }
      </fieldset>
    </div>
  </div>
</div>


