<div class="container" style="height:70%">
  <div class="row">
    <div [hidden]="pcs.n == 12">
      <p>
        n :
        <span class="analyse-pcs">{{ pcs.n }}</span>
      </p>
      <p [hidden]="pcs.n == 12">
        PCS :
        <span class="analyse-pcs"> {{ pcs.getPcsStr() }}<sub> {{ pcs.iPivot }} </sub></span> &nbsp;
        Cardinal :
        <span class="analyse-pcs">#{{ pcs.cardinal }}</span>
        PowerSet cardinal :
        <span class="analyse-pcs">#{{ pcs.cyclicPrimeForm().orbit!.groupAction!.powerset.size }}</span>
      </p>
      <hr>
    </div>
  </div>
  <div class="marge-5">
    <p>
      n :
      <span class="analyse-pcs">{{ pcsMapped12.n }}</span>
    </p>
    <p>
      PCS :
      <span class="analyse-pcs"> {{ pcsMapped12.getPcsStr() }}<sub> {{ pcsMapped12.iPivot }} </sub></span> &nbsp;
    </p>
    <p>
      Cardinal :
      <span class="analyse-pcs">#{{ pcsMapped12.cardinal }}</span>
    </p>
    <p>
      Intervallic Structure :
      <span class="analyse-pcs">({{ pcsMapped12.is() }})</span>
    </p>
    <p>
      Interval Vector :
      <span class="analyse-pcs">&lt;{{ pcsMapped12.iv() }}&gt;</span>
    </p>
    <p>
      Forte :
      <span class="analyse-pcs">{{ pcsMapped12.forteNum() }}</span>
    </p>
    <p>
      Limited Transposition :
      <span class="analyse-pcs">{{ pcsMapped12.isLimitedTransposition() }}</span>
    </p>

    <div>
    <fieldset class="representation-border">
      <legend class="representation-border">Fecundity</legend>
      <hr>
      <p style="margin: 1px">
        <button mat-button (click)="doPushModesOf(pcsMapped12)">
          <mat-icon>filter_tilt_shift</mat-icon> Modes  :
        </button>
         {{ ''// sub sub => to have same height that next fieldset }}
        <span class="analyse-pcs">#{{ pcsMapped12.cardOrbitMode() }} <sub></sub></span>
      </p>
      <p style="margin: 1px">
        <button mat-button (click)="doPushOrbitCyclicPF(pcsMapped12)">
          <mat-icon>sync</mat-icon>OrbitCyclic (M0-T1) :
        </button>
        <span class="analyse-pcs">#{{ pcsMapped12.cardOrbitCyclic() }}</span>
      </p>
      <p style="margin: 1px">
        <button mat-button (click)="doPushOrbitDihedralPF(pcsMapped12)">
        <mat-icon>swap_vertical_circle</mat-icon>OrbitDihedral (M11, T1):
        </button>
        <span class="analyse-pcs">#{{ pcsMapped12.dihedralPrimeForm().orbit.cardinal }}</span>
      </p>
      <p style="margin: 1px">
        <button mat-button (click)="doPushOrbitAffinePF(pcsMapped12)">
          <mat-icon>star</mat-icon> OrbitAffine (M5, M7, M11, T1):
        </button>
        <span class="analyse-pcs">#{{ pcsMapped12.affinePrimeForm().orbit.cardinal }}</span>
      </p>
      <p style="margin: 1px">
        <button mat-button (click)="doPushOrbitMusaicPF(pcsMapped12)">
          <mat-icon>star_half</mat-icon> OrbitMusaic (M5, M7, M11, Cplt, T1) :
        </button>
        <span class="analyse-pcs">#{{ pcsMapped12.musaicPrimeForm().orbit.cardinal }}</span>
      </p>
    </fieldset>

    <fieldset class="representation-border">
      <legend class="representation-border">Prime Form</legend>
      <hr>
      <p style="margin: 15px">
        Modal :
        <span class="analyse-pcs"> {{ pcsMapped12.modalPrimeForm().getPcsStr() }}
          <sub> {{ pcsMapped12.modalPrimeForm().iPivot }} </sub></span>
      </p>
      <p style="margin: 15px">
        Cyclic :
        <span class="analyse-pcs">{{ pcsMapped12.cyclicPrimeForm().getPcsStr() }}</span>
      </p>
      <p>
        Dihedral :
        <span class="analyse-pcs">{{ pcsMapped12.dihedralPrimeForm().getPcsStr() }}</span>
      </p>
      <p style="margin: 15px">
        Affine :
        <span class="analyse-pcs">{{ pcsMapped12.affinePrimeForm().getPcsStr() }}</span>
      </p>
      <p style="margin: 15px">
        Musaic :
        <span class="analyse-pcs">{{ pcsMapped12.musaicPrimeForm().getPcsStr() }}</span>
      </p>
    </fieldset>
    </div>

    @if (!pcs.orbit.isDetached()) {
      <fieldset class="representation-border">
        <legend class="representation-border">Pcs in orbit. Group name : {{pcs.orbit!.groupAction!.group!.name}} </legend>
        <hr>
        <p>
          Orbit cardinal :
          <span class="analyse-pcs"> {{ pcs.orbit.cardinal }}</span>
        </p>
        <p>
          Orbit name (stabilizers signature) :
          <span class="analyse-pcs"> {{ pcs.orbit.name }}</span>
        </p>
        <p>
          Stabilizers ({{ pcs.orbit.stabilizers.length }}):
          @for (stab of pcs.orbit.stabilizers; track stab.hashCode()) {
            <span class="analyse-pcs m-1">{{ stab.getShortName() }}</span> ({{ stab.fixedPcs.length }})
          }
        </p>
        <p>
         <span class="m-1"
               (click)="fixedPcsList()" style="cursor: pointer">
            <i class="bi bi-chevron-double-down">fixedPcs</i>
         </span>
        </p>
      </fieldset>
    }
  </div>
  <div class="padding-3">
    <p>
      (debug) iPCS :
      <span class="analyse-pcs">{{ pcs.toString() }}</span> ~
      <span class="id-pcs">id : {{ pcs.id }}</span> ~ <span class="id-pcs">pid : {{ pcs.pid() }}</span>
    </p>
  </div>
</div>
