<p class="ms-2" style="cursor: pointer" (click)="doClearList()" [hidden]="labeledListPcs.size==0">Clear all <i
  class="bi bi-trash3-fill"></i></p>
<div class="row">
  @for (title of labeledListPcs.keys(); track title) {
    @if (title === '') {
      <!--  each pcsList into separate col  -->
      @for (pcs of labeledListPcs.get(title)?.pcsList; track pcs.id; let index = $index) {
        <div
          *ngIf="{drawPivot:labeledListPcs.get(title)?.drawPivot ?? true} as pivot"
          class="box text-center"
          style="width: 155px;">
          <div class="box text-center" style="width: 145px;">
            <app-clock [w]="145" [ipcs]="pcs" [drawPivot]="pivot.drawPivot"></app-clock>
            <div>
              @if (pivot.drawPivot) {
                <p class="text-center">
                  <span>{{ pcs.getChordName() }}</span>
                </p>
              }
              <h6>{{ pcs.getMappedPcsStr() }}</h6>
              <i (click)="doRemoveFromList(pcs)" class="bi bi-trash p-1" style="cursor: pointer"></i>
              @if (pcs.n === 12) {
                <i (click)="doPushPcsFromList(pcs)" class="bi bi-eye p-1" style="cursor: pointer"></i>
                @if (pivot.drawPivot) {
                  <app-score-notation [hidden]="! withMusicalNotation"
                                      [pcs]="pcs"
                                      [onlyChord]="pcs.cardinal < 5"
                  >
                  </app-score-notation>
                }
              }
            </div>
          </div>
        </div>
      }

    } @else {
      <!--  put list pcsList into one col with title div-->
      <div
        *ngIf="{drawPivot:labeledListPcs.get(title)?.drawPivot ?? true} as pivot"
        class="box text-center"
        style="width: 155px;">
        <p>{{ title }} ({{ labeledListPcs.get(title)?.pcsList?.length }})</p>
        @for (pcs of labeledListPcs.get(title)?.pcsList; track pcs.id; let index = $index) {
          <div class="box" style="width: 145px;">
            <app-clock [w]="145" [ipcs]="pcs" [drawPivot]="labeledListPcs.get(title)?.drawPivot ?? true"></app-clock>
            <div class="card-body">
              @if (pivot.drawPivot) {
                @if ([3, 4].includes(pcs.cardinal)) {
                  <p class="text-center">
                    <span>{{ pcs.getChordName() }}</span>
                  </p>
                } @else {
                  <p class="text-center">
                    <span>{{ pcs.getFirstScaleNameOrDerived().name }}</span>
                  </p>
                }
              }
              <i (click)="doRemoveFromList(pcs)" class="bi bi-trash p-1" style="cursor: pointer"></i>
              @if (pcs.n == 12) {
                <i (click)="doPushPcsFromList(pcs)" class="bi bi-eye p-1" style="cursor: pointer"></i>
                @if (pivot.drawPivot) {
                  <app-score-notation [hidden]="! withMusicalNotation"
                                      [pcs]="pcs"
                                      [onlyChord]="pcs.cardinal < 5"
                  >
                  </app-score-notation>
                }
              }
            </div>
          </div>
        }
      </div>
    }
  } @empty {
    <p>No PCS</p>
  }
</div>
